body::after {
    content: "";
    background-image: url("../images/al-aazam-islamic-center-and-mosque-820x440.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1 {
    text-align: center;
    color: #333;
    font-weight: 300;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(12, 204, 44, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

form:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

input:focus,
select:focus {
    outline: none;
    border-color: #4caf50;
    background-color: #fff;
}

#payment-method {
    margin-bottom: 16px;
}

#bank-details,
#bikash-details {
    display: none;
}

span {
    color: #777;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#homebutton {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

#homebutton:hover {
    background-color: #45a049;
}
